/build
/deps
target
/agile-interfaces/target/
.settings/
.classpath
.project
.log
/api.http/target/
.metadata/
.recommenders
/iot.agile.http/target/
*/*.log
*.log
/agile-main/target/
/bluez-5.39/
/DeviceFactory/target/
/iot.agile.DeviceFactory/target/
*/logs/*
